<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post job</title>
    <link rel="stylesheet" href="applyJob.css">
</head>
<body>
<div class="form-box">
    <!-- ---------------INPUT FROMS ------------------------ -->
    <h1>Apply Job</h1>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Phone Number</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>



    <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Location</span>
            <br>
            <select class="form-select location" aria-label="Default select example">
                <option selected text>Nepal</option>
                <option value="1">Kathmandu</option>
                <option value="2">Pokhara</option>
                <option value="3">Lalitpur</option>
                <option value="3">Bhaktapur</option>
                <option value="3">Chitwan</option>

            </select>
        </div>
    </div>
</div>



</body>
</html>