<!DOCTYPE html>
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href ="Style.css" rel ="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>Company Profile</title>
</head>
<body>

    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img th:src="@{/images/mail.png}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          KaamKuro
        </a>
      </div>
    </nav>

    <div class = "card">
      <div class="d-flex justify-content-center">
        <div class="p-2"> 
          <img th:src="@{/images/comp.png}" class="img-fluid" alt="company's logo" width =400px>
        </div>
        <div class="p-2 ">
          <h1 class = "text-start companyName" >Company Name</h1 >
          <p class = "text-start companyName">blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
          <button class = "text-start mt-4 button" >Edit Profile</button></div>
      </div>
    </div>
    <div class="d-flex justify-content-center cont">
      <div class="p-2 fs-3"> 
        Contact
      </div>
  </div>
  <div class = "about">
    <div class="container px-4 text-center mt-4">
      <div class="row gx-5 mx-auto ">
        <div class="col-1 m1-20">
          <img th:src="@{/images/contact.png}" class="img-fluid" alt="company's logo" >
        </div>
        <div class ="col-3">
          <p class = "text-start">9867457345</p>
        </div>
        <div class="col-1 ">
          <img th:src="@{/images/mail.png}" class="img-fluid" alt="company's logo">
        </div>
        <div class ="col-3">
          <p class = "text-start">company1@gmail.com</p>
        </div>
        <div class="col-1 ">
          <img th:src="@{/images/location.png}" class="img-fluid" alt="company's logo">
        </div>
        <div class ="col-3">
          <p class = "text-start">Dillibazar,
            Kathmandu
          </p>
        </div>
          </div>
      </div>
    </div>

  </div>
</div>
</body>